{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-color:black">
    <div class="overlay"></div>
    <!-- <img class="skills" src="static/img/skills.png" alt="skills-img"> -->
    <div class="container">
      
      <div class="row">
        
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">

            <h1>About Me</h1>
            <div style="resize: inline;">
              <img class="skills"  src="static/img/long_photo.png" alt="skills-img">
              <!-- <img class="skills"  src="static/img/skydive.png" alt="skills-img">
              <img class="skills"  src="static/img/headshot.jpg" alt="skills-img">
              <img class="skills"  src="static/img/sf.png" alt="skills-img"> -->
            </div>
            <!-- <span class="subheading"></span>
            <p></p>
            <a class="btn btn-light float-center" href="{{url_for('projects')}}">My Projects</a>
            <a class="btn btn-light float-center" href="{{url_for('pubs')}}">My Publications</a>
            <a class="btn btn-light float-center" href="https://www.alexandermaccalman.com/" target="_blank">My Resume</a>
            <p></p> -->
         
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div>
        
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3> <center>My Vision</center></h3>
        <p>To inspire people towards a vision that intentionally creates a positive change in the world. </p>
        <h3> <center>Actions I Take to Realize My Vision</center> </h3>
        <p></p>
        <h5><img src="static/img/rocket.png"/> Accelerate Innovation</h5> 
        <ul>
          <li>I build and orchestrate diverse teams, guide stakeholders, resolve conflicts, manage risk, eliminate barriers, and create high-impact innovative solutions that drive strategic outcomes. </li>
           <li>I use systems thinking and actionable analytics to make <a style="color: blue" href="https://en.wikipedia.org/wiki/Decision_quality" target="_blank"><em> quality decisions</em></a> and design new realities.</li>
        </ul>
        <h5><img src="static/img/greenberet.png"/> Grit</h5> 
        <ul>
          <li>I am relentless in the pursuit of my goals. </li>
           <li>I am a Green Beret that thrives in ambiguous, complex, and fast-paced environments. </li>
        </ul>
        <h5><img src="static/img/respect.png"/>Respect Others</h5> 
        <ul>
          <li>I elevate people with dignity, promote inclusive environments, and strive to heighten my emotional intelligence.</li>
           <li>I believe that our ultimate freedom is how we respond to any situation with <a style="color: blue" href="https://positivepsychology.com/assertive-communication-worksheets/" target="_blank"><em>assertion</em></a>.</li>
        </ul>
        <h5><img src="static/img/grow.png"/> Continuously Learn and Grow</h5> 
        <ul>
          <li>I foster a culture of learning that increases our capacity to accomplish a mission.</li>
           <li>I am an aspiring AI Edge Engineer, currently learning Python, Bash Scripting, Docker, and Terraform.</li>
        </ul>
        <h5><img src="static/img/energy.png"/>Bring Energy</h5> 
        <ul>
          <li>I am a <a style="color: blue" href="https://positivepsychology.com/positive-deviance/" target="_blank"><em>positive deviant</em> </a> with an adventurous spirit who leads with passion.</li>
           <li>I was a professional parachute demonstrator, a US National Skydiving Champion, and a skydiving instructor with over 4,600 jumps.</li>
        </ul>
  
        <h3> <center>What I Do</center></h3>
        <p>I am a proven leader in innovation management and digital transformation. These experiences provided me with a deep intuition on understanding the people, problems, and cultural challenges any organization faces when modernizing. I highlight these experiences in my resume and my projects web page. </p>
        <center><a class="btn btn-dark float-center" href="https://www.alexandermaccalman.com/" target="_blank">My Resume</a>
        <a class="btn btn-dark float-center" href="{{url_for('projects')}}">My Projects</a></center>

        <p>I have a Ph.D. in Simulation Analysis, an MS in Operations Research, and a BS in Engineering Management. I acquired technical expertise in the areas of modern experimental design, model-based systems engineering, decision analysis, and cloud innovation. See my list of publications for my contributions to the body of knowledge in various disciplines.  </p>
        <center><a class="btn btn-dark float-center" href="{{url_for('pubs')}}">My Publications</a></center>
        <p></p>
        <p>See this post for a collection of visions I crafted to intentionally create a positive change in the world: <a style="color: blue" href="https://www.linkedin.com/pulse/systems-thinking-approach-innovation-digital-adoption-alex/" target="_blank"><em>A Systems Thinking Approach to Innovation and Digital Transformation Adoption | LinkedIn</em> </a></p>
        <p></p>
        <p>Thank you for visiting my website.</p>
      </div>
    </div>
  </div>

  <hr>
  <div>
    <center><img class="skills"  src="static/img/skills.png" alt="skills-img"></center>
  </div>

  {% include "footer.html" %}