{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-color:black">
    <div class="overlay"></div>
    <!-- <img class="skills" src="static/img/skills.png" alt="skills-img"> -->
    <div class="container">
      
      <div class="row">
        
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">

            <h1>Publications</h1>
         
            <span class="subheading">My published research focused on a collection of multi-disciplinary areas including modern experimental design, model-based-systems engineering, and decision analysis</span>
            <p></p>
            <!-- <a class="btn btn-primary float-center" href="{{url_for('projects')}}">My Projects</a>
            <a class="btn btn-primary float-center" href="{{url_for('aboutme')}}">About Me</a>
            <a class="btn btn-primary float-center" href="https://www.alexandermaccalman.com/">Mr Resume</a> -->
            <p></p>
         
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div>
        <!-- <p>I'm a proven leader in innovation management and digital transformation. These experiences provided me with a deep intuition on understanding the people, problems, and cultural challenges any organization faces when modernizing.</p> -->
        <!-- <a class="btn btn-primary float-center" href="{{url_for('projects')}}">See My Projects</a> -->
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Modern Experimental Design</h2>
        <p></p>
        <a href="https://link.springer.com/article/10.1057/jos.2016.8" style="color:blue" target="_blank">Second-order nearly orthogonal Latin hypercubes for exploring stochastic simulations</a>
        <p></p>
        <a href="https://apps.dtic.mil/docs/citations/AD1008897" style="color:blue" target="_blank">Illuminating Tradespace Decisions Using Efficient Experimental Space-Filling Designs for the Engineered Resilient System Architecture</a>
        <p></p>
        <a href="https://journals.sagepub.com/doi/abs/10.1177/1548512918765701" style="color:blue" target="_blank">Leveraging a design of experiments methodology to enhance impacts of modeling and simulations for engineered resilient systems</a>
        <p></p>
        <a href="https://www.informs-sim.org/wsc16papers/270.pdf" style="color:blue" target="_blank">Tradespace Analysis for Multiple Performance Measures</a>
        <p></p>
        <a href="https://incose.onlinelibrary.wiley.com/doi/full/10.1002/sys.21352" style="color:blue" target="_blank">A Systems Design Exploration Approach that Illuminates Tradespaces Using Statistical Experimental Designs</a>
        <p></p>
        <a href="https://www.sciencedirect.com/science/article/pii/S1877050915002665" style="color:blue" target="_blank">Capturing Experimental Design Insights in Support of the Model-based System Engineering Approach</a>
        <p></p>
        <a href="https://www.ingentaconnect.com/content/asne/nej/2015/00000127/00000001/art00016" style="color:blue" target="_blank">Collaborative Efforts in Advancing the State-of-the-art of Early Ship Design</a>
        <p></p>
        <h2>Systems Engineering</h2>
        <p></p>
        <a href="https://smallwarsjournal.com/jrnl/art/hyper-enabled-operator" style="color:blue" target="_blank">The Hyper-Enabled Operator</a>
        <p></p>
        <a href="https://www.sciencedirect.com/science/article/pii/S1877050919307306" style="color:blue" target="_blank">Model-based systems engineering: application and lessons from a technology maturation project</a>
        <p></p>
        <a href="https://www.sciencedirect.com/science/article/pii/S1877050916324826" style="color:blue" target="_blank">Integrating External Simulations Within the Model-Based Systems Engineering Approach Using Statistical Metamodels</a>
        <p></p>
        <a href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/11746/1174607/Improving-the-performance-of-AI-models-in-tactical-environments-using/10.1117/12.2587932.short?_ga=2.227190941.1485658207.1618367079-423873833.1616550600&SSO=1" style="color:blue" target="_blank">Improving the performance of AI models in tactical environments using a hybrid cloud architecture</a>
        <p></p>
        <a href="https://ieeexplore.ieee.org/document/8488435" style="color:blue" target="_blank">A Case Study in Developing an Integrated Data and Model Management System for the Development of a Complex Engineered System</a>
        <p></p>
        <a href="https://www.researchgate.net/publication/326019758_Bridging_Systems_Engineering_Theory_and_Application_in_Undergraduate_Curricula" style="color:blue" target="_blank">Bridging Systems Engineering Theory and Application in Undergraduate Curricula</a>
        <p></p>
        <a href="https://dl.acm.org/doi/10.5555/2872965.2872987" style="color:blue" target="_blank">DEVS Distributed Parallel Architecture for Enterprise Simulation</a>
        <p></p>
        <h2>Decision Analysis</h2>
        <p></p>
        <a href="https://ieeexplore.ieee.org/abstract/document/7427372" style="color:blue" target="_blank">Multiobjective Decision Analysis with Probability Management for Systems Engineering Trade-off Analysis</a>
        <p></p>
        <a href="https://www.amazon.com/Trade-off-Analytics-Tradespace-Engineering-Management/dp/111923753X/ref=sr_1_1?ie=UTF8&qid=1462999163&sr=8-1&keywords=tradespace+analytics" style="color:blue" target="_blank">Trade-off Analytics: Creating and Exploring the System Tradespace, Chapter 9, An Integrated Model for Trade-off Analysis</a>
        <p></p>
        <a href="https://www.researchgate.net/publication/326019683_Selecting_Robotic_Power_Solutions_A_Case_Study_of_Stochastic_Value_Modeling" style="color:blue" target="_blank">Selecting Robotic Power Solutions: A Case Study of Stochastic Value Modeling</a>
    </div>
    </div>
  </div>

  <hr>
  <div >
    <center><img class="skills"  src="static/img/skills.png" alt="skills-img"></center>
  </div>

  {% include "footer.html" %}